* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --spacecadet: #2A2D43;
    --delft: #2C3C57;
    --powder: #B2C3D2;
    --carolina: #8DB1C4;
    --azure: #DCE7E7;
    --platinum: #EDEEEA;
    --eggshell: #EEE7D6;


    /* Sarahs foreslåtte farger */
    --crayola: #fb6f27;
    --vermillion: #e74c46;
    --DMSerifText: "DM Serif Text";
    --danfo: "Danfo"


}

h1 {
    font-family: var(--danfo);
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    text-shadow: 9px 9px 9px #b1463f; 
    transition: 2s;
}


button {
    font-family: var(--DMSerifText);
}

body {
    display: block;
    /* background-color: var(--powder); */
    background-image: url("bilder/PC-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}


#finishedSongBody {
    overflow-y: auto;
    overflow-x: auto;
    
}


#structure {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.equallHeight{
    margin-top: 105px;
}


#bigLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content; 
    margin-bottom: 200px;

}

#indexImg {
    height: 300px;
    width: 300px;
}

#indexLogo {
    color: white;
    width: 310px;
    font-size: 100px;
    margin-top: 0;
}

#ready {
    color: white;
    font-size: 40px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;

    cursor: pointer;

    display: flex;
    justify-content: center;
}

#logo {
    width: 70px;
    height: 70px;
}


#indexInfo h2 {
    font-size: 40px;
}

#indexInfo p {
    font-size: 30px;


}

#indexInfo {
    z-index: 10000;
    display: none;
    width: 60vw;
    height: 30vh;
    padding: 10px;
    overflow: scroll;
    text-align: center;
    margin-top: -200px;

    /* position: absolute;
    top: 60%; */

    color: white;
    opacity: 0;
    transition: 3s linear;


}

/* #indexInfoLight{
    display: none;
    width: 65vw;
    height: 35vh;
    position: absolute;
    top: 60%;

    
    background-color: white;
    opacity: 0.2;
    -webkit-filter: blur(20px);

} */

#actuallyReady {
    cursor: pointer;
    font-size: 34px;
}


/* Animasjon for å fylle skjermen med drikke + bobler */

.drink {
    display: block;
    z-index: -1;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fd6e5a;
    /* Plasserer drikken øverst */
    animation: myAnim 2s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 normal none;
}



@keyframes myAnim {
    0% {
        transform: scaleY(0);
        transform-origin: 0% 100%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
    }
}

#wrapper {
    display: none;
    width: 100%;
    height: 100%;
}

.bubble {
    position: absolute;
    top: 33%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.small {
    width: 15px;
    height: 15px;
    left: 50%;
    animation: flow-s 2s linear infinite;
}

.small-l {
    width: 17px;
    height: 17px;
    left: 43%;
    animation: flow-s-l 0.9s linear infinite;
}

.s-medium {
    width: 25px;
    height: 25px;
    left: 43%;
    animation: flow-s 1.3s linear infinite;
}

.medium {
    width: 28px;
    height: 28px;
    left: 45%;
    animation: flow-m 0.8s linear infinite;
}

.large {
    width: 10px;
    height: 10px;
    left: 57%;
    animation: flow-l 0.7s linear infinite;
}

@keyframes flow-l {
    0% {
        top: 53%;
        left: 57%;
        opacity: 0;
    }

    25% {
        top: 49%;
        left: 57.5%;
        opacity: 1;
    }

    50% {
        left: 58%;
        opacity: 1;
    }

    75% {
        left: 57.5%;
        opacity: 1;
    }

    100% {
        top: 22%;
        left: 57%;
        opacity: 0;
    }
}

@keyframes flow-s {
    0% {
        top: 53%;
        left: 50%;
        opacity: 0;
    }

    25% {
        top: 45%;
        left: 51%;
        opacity: 1;
    }

    50% {
        top: 37%;
        left: 52%;
        opacity: 1;
    }

    75% {
        top: 29%;
        left: 51%;
        opacity: 1;
    }

    100% {
        top: 18%;
        left: 50%;
        opacity: 0;
    }
}

@keyframes flow-s-m {
    0% {
        top: 53%;
        left: 43%;
        ;
        opacity: 0;
    }

    25% {
        top: 49%;
        left: 42.5%;
        opacity: 1;
    }

    50% {
        top: 42%;
        left: 42%;
        opacity: 1;
    }

    75% {
        top: 34%;
        left: 42.5%;
        opacity: 1;
    }

    100% {
        top: 29%;
        left: 43%;
        opacity: 0;
    }
}

@keyframes flow-m {
    0% {
        top: 53%;
        left: 45%;
        ;
        opacity: 0;
    }

    25% {
        top: 44%;
        left: 44.5%;
        opacity: 1;
    }

    50% {
        top: 38%;
        left: 44%;
        opacity: 1;
    }

    75% {
        top: 24%;
        left: 44.5%;
        opacity: 1;
    }

    100% {
        top: 15%;
        left: 45%;
        opacity: 0;
    }
}

@keyframes flow-s-l {
    0% {
        top: 53%;
        left: 43%;
        ;
        opacity: 0;
    }

    25% {
        top: 48%;
        left: 43.5%;
        opacity: 1;
    }

    50% {
        top: 43%;
        left: 44%;
        opacity: 1;
    }

    75% {
        top: 35%;
        left: 43.5%;
        opacity: 1;
    }

    100% {
        top: 25%;
        left: 43%;
        opacity: 0;
    }
}



header {
    /* background-color: var(--platinum); */
    background-color: var(--vermillion);
    color: var(--platinum);
    height: 70px;
    text-align: center;

    display: flex;

}

header p {
    padding: 0;
    /* font-family: var(--DMSerifText); */
    font-size: 40px;
    font-family: "Danfo", swap;
    padding-top: 7px;
    text-shadow: 7px 5px #a32d29;
}

a {
    text-decoration: none;
    color: white;
}


.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

h2 {
    font-size: 30px;

}

.collum {
    flex-direction: column;
}

section {
    background-color: var(--platinum);
    width: 32%;
    margin: 0 8% 0 8%;
    height: 35%;
    /* border: solid 2px; */
    border-radius: 5px;
    cursor: pointer;
    color: var(--vermillion);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 30px;
    margin: 5px;
}

#localCode {
    font-family: var(--DMSerifText);
    font-size: 20px;
    margin: 5px;
}

#textInput {
    width: 80%;
    height: 150px;
    border: 1px black solid;
    border-radius: 3px;
    padding: 6px;
    margin-top: 0;
    font-size: 25px;
    box-sizing: border-box;
    line-height: 40px;
}

.infoText {
    width: 70%;
    margin: 10px;
    font-family: var(--DMSerifText);
    text-align: center;
    font-size: 25px;
}

#successfullySentPopUp {
    background-color: var(--platinum);
}

#emptyMessasgePopUp {
    background-color: rgb(204, 13, 13);
}

.popUp {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    font-family: var(--DMSerifText);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px black solid;
    display: block;

    opacity: 0;
    transition: opacity 0.5s linear;
}

.fade-effect {
    animation: fade 2s linear;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

.button {
    background-color: var(--platinum);
    font-size: 20px;
    padding: 10px;
    /* border: 1px black solid; */
    border-radius: 20px;
    margin: 20px;
    width: 100px;
    text-align: center;
    font-family: var(--DMSerifText);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
}

input[type="radio"]:checked {
    outline: none;
    /* Fjerner standard ramme */
    border: 2px solid var(--platinum);
    /* Endrer kantfarge */
    background-color: var(--vermillion);
    /* Endrer bakgrunnsfarge */
}



input[type="number"] {
    width: 70%;
    height: 100px;
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    font-family: var(--DMSerifText);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#generateSongButton {
    width: 70%;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 0;
    /* background-color: var(--platinum);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

#pastedSong {
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 16px;
}

.speedSelector {
    width: 25vw;
    padding: 20px;
    font-family: var(--DMSerifText);
    color: var(--spacecadet);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.speedSelector h3 {
    font-size: 20px;
}

.speedSelector div {
    padding: 15px;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

#noSelectedButtonPopup {
    background-color: var(--vermillion);
    font-family: var(--DMSerifText);
    color: var(--azure);
    padding: 40px 20px;
    font-size: 30px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 33vh;
    display: none;
}

#noSelectedButtonPopup p:last-child {
    font-size: 20px;
    padding-top: 20px;
}

#blurryBackground {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;

    backdrop-filter: blur(5px);


    justify-content: center;
    align-items: center;
}


.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid var(--vermillion);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#smallLoader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid var(--vermillion);
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#actionCounter {
    font-size: 20px;
    font-family: var(--DMSerifText);
}

#code {
    font-size: 30px;
    font-family: var(--DMSerifText);
    text-align: center;
}

.flex {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

#finishedButton {
    background-color: var(--vermillion);
    /* border: 1px black solid; */
    color: var(--platinum);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    width: fit-content;

    margin: 15px auto 0 auto;
}

#codeContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    align-items: center;
    padding: 10px;
}

#postProductionPopUp {
    width: 100%;
    display: none;
    justify-content: space-around;
    cursor: pointer;
}

#postProductionPopUp p {
    max-width: 50%;
    margin-top: 30px;
    font-family: var(--DMSerifText);
    text-align: center;
    /* border: 1px black solid; */

    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#postProductionPopUp p:first-of-type {
    font-size: 15px;
    background-color: var(--platinum);
    padding: 15px;
}

#postProductionPopUp p:last-of-type {
    font-size: 22px;
    background-color: var(--platinum);
    padding: 10px;

}


table {
    border-collapse: collapse;
    border: 1px solid black;
    font-family: var(--DMSerifText);
    width: 80%;

    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 30px); */

    margin: 20px auto;
}

td {
    border: 1px black solid;
    padding: 4px 10px;
    min-width: 100px;
    background-color: white;
}

.fakeMove {
    position: fixed;
    opacity: 0.8;
    height: auto;

    border: 1px black solid;
    font-family: var(--DMSerifText);
    padding: 4px 10px;
    min-width: 100px;
    background-color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    body {
        background-repeat: repeat;
        background-image: url("bilder/phoneWallpaper.jpg");

    }

    .container {
        flex-direction: column;
        height: 85vh;
    }

    header p {
        font-size: 30px;
        padding-top: 15px;

    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
        margin-top: 30px;
    }


    #structure {
        z-index: 10000;
        flex-wrap: wrap;
        transition: justify-content 3s ease;

    }


    #indexImg {
        width: 150px;
        height: 150px;
    }

    #indexLogo {
        width: 200px;
        height: fit-content;
        font-size: 55px;

    }

    .equallHeight{
        margin-top: 46px;
    }

    #ready {
        font-size: 30px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        animation: 2s ease;

    }


    .speedSelector h3 {
        font-size: 15px;
    }

    p #sendOutButton {
        font-size: 18px;
    }

    .createSong {
        flex-direction: column-reverse;
    }

    #generateSongButton {
        left: 44.5%;
        font-size: 15px;
    }

    .speedSelector {
        width: 90vw;
        padding: 5px;
    }

    section {
        margin: 40px 8% 40px 8%;
        width: 80%;
        height: 30%;

    }

    textarea {
        height: 250px;
        width: 85%;
    }
/* 
    .mobileLiquid {
        position: absolute;
        top: 10%;
    } */


    #indexInfo p {
        font-size: 25px;
    }

    #indexInfo h2 {
        font-size: 30px;
    }

    #indexInfo {
        width: 70vw;
    }
}